{% extends "base.html" %}


{% block conntent %}
    {% include "notice.html" %}
    <div class="hui-speed-dial">
		<ul>
            <li>
                <div class="hui-speed-dial-icons">
                    <span class="hui-icons"><img src=""></span>
                </div>
                <div class="hui-speed-dial-text">失物招领</div>
            </li>
            <li>
                <div class="hui-speed-dial-icons">
                    <span class="hui-icons"><img src=""></span>
                </div>
                <div class="hui-speed-dial-text">悬赏大厅</div>
            </li>
        </ul>
	</div>

{% endblock %}
    {% include "bottom.html" %}
