<!DOCTYPE html>
<html>
    <head>
        <title>登陆页面</title>
         <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link href="{{ url_for('static',filename='css/login.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static',filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static',filename='js/login.js') }}"></script>
    </head>
    <body>
        <div class="login">

            <div class="login-title">
                <p>烟园登录</p>

            </div>
            <img style="width: 100px; align-content:center; margin-left: 35%; " src="{{ url_for('static',filename='img/icon/logo.png') }}" >

            <div >
                <i id="err_msg"></i>
            </div>
            <form method="post" action="login">
            <div class="login-bar">
                <ul>
                    <li><img src="{{ url_for('static',filename='images/login_user.png') }}"><input name="username" type="text" class="text" placeholder="请输入用户名" /></li>
                    <li><img src="{{ url_for('static',filename='images/login_pwd.png') }}"><input name="password" type="password" class="psd" placeholder="请输入确认密码" /></li>
                </ul>
            </div>
            <div class="login-btn">
                <button class="submit" type="submit">登陆</button>
                <a href="./register"><div class="login-reg"><p>莫有账号，先注册</p></div></a>
            </div>
            </form>
        </div>
		<div style="text-align:center;">
</div>

    </body>
</html>
<script>
    function toindex()
    {
        window.location.href="/index"
    }
    a = document.getElementById('err_msg');
    console.log("{{messagetext}}")
    if("{{messagetext}}"!="")
    {

        a.innerText="{{messagetext}}";

    }
    if("{{messagetext}}"=="登录成功")
    {
        console.log("登录成功")
        a.innerText="登录成功,3秒后跳转至登录界面";
        setTimeout("toindex()","2500");

    }

</script>
