{% extends "base.html" %}


{% block conntent %}
    {% include "top_back.html" %}
    {% include "notice.html" %}

	<div class="hui-center-title" style="margin-top:0px;"><h1>{{res[1]}}</h1></div>
    <div class="hui-content" style="padding:10px;">
		{{res[2]}}
	</div>
    <div class="hui-content" style="padding:10px;">
		手机号：{{res[3]}}
	</div>
    <div class="hui-content" style="padding:10px;">
		QQ号：{{res[4]}}
	</div>
    <div class="hui-img-list" id="list2" style="padding:10px 5px;">
        <ul>

            <li>
                <a href="javascript:hui.toast('hi...');">
                    <img src="{{ res[3] }}">

                </a>
            </li>
        </ul>
    </div>
{% endblock %}
