{% extends "base.html" %}
{% block conntent %}
    {% include "top_back.html" %}
    {% include "notice.html" %}

    <div id="hui-black-mask" class="       " style="display: none;">
	<!-- 发布 -->
	<div id="hui-black-mask-content">
		<div id="hui-black-action" class="       " style="top: 0px; display: none;">
			<div id="hui-black-close"></div>
		</div>
		<div style="text-align:center;">
            <form method="post" action="new.html">

            </form>
        </div>
		<div style="text-align:center; color:#FFFFFF; line-height:60px;">
			一个演示广告
		</div>
	</div>

</div>
{% endblock %}
