<div style="background:#FFF; padding:44px 20px 0 0; margin:0px 0px 0px 0px;" class="hui-flex">
		<div style="height:46px; width:20px;">
			<img src="{{ url_for('static',filename='img/spiker.png') }}" width="20" style="padding:13px 0px;">
		</div>
		<div class="hui-scroll-news" id="scrollnew1">

		<div class="hui-scroll-news-items        hui-scroll-news-h0">第1条重要的的信息{{news}}</div>
            <div class="hui-scroll-news-items       ">第二条信息{{news}}</div>
            <div class="hui-scroll-news-items        "><a href="javascript:hui.toast('test...');">第三条信息{{news}}</a></div>
        </div>
	</div>