<div style="background:#FFF; padding:0px 15px; margin:10px;" class="hui-flex">
		<div style="height:46px; width:20px;">
			<img src="{{ url_for('static',filename='img/spiker.png') }}" width="20" style="padding:13px 0px;">
		</div>
		<div class="hui-scroll-news" id="scrollnew1">

		<div class="hui-scroll-news-items        hui-scroll-news-h0">1{{news}}</div>
            <div class="hui-scroll-news-items       ">第二条信息{{news}}</div>
            <div class="hui-scroll-news-items        "><a href="javascript:hui.toast('test...');">3{{news}}</a></div>
        </div>
	</div>