<!DOCTYPE html>
<html>
    <head>
        <title>注册页面</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link href="{{ url_for('static',filename='css/register.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static',filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static',filename='js/register.js') }}"></script>
    </head>
    <body>
        <div id="layout">
            <span>烟园账号注册</span>
            <img style="width: 100px; align-content:center; margin-left: 35%; " src="{{ url_for('static',filename='img/icon/logo.png') }}" >
            <form  method="post">
            <ul>
                <p id="err_msg"></p>

                <li><i class="un"><img src="{{ url_for('static',filename='images/user_name.png') }}"></i>
                    <input name="username" required="required" class="username" type="text" placeholder="请输入用户名" />
                </li>
                <li>
                    <i class="un"><img src="{{ url_for('static',filename='images/.png') }}"></i>
                    <input class="username"  required="required" name="studentnum" type="text" placeholder="请输入学号" />
                </li>
                <li>
                    <i class="un"><img src="{{ url_for('static',filename='images/.png') }}"></i>
                    <input class="username" required="required" name="college" type="text" placeholder="请输入您所在学院" />
                </li>
                <li>
                    <i class="un"><img src="{{ url_for('static',filename='images/.png') }}"></i>
                    <input class="username" required="required"  name="realname" type="text" placeholder="请输入真实姓名" />
                </li>
                <li>
                    <i class="un"><img src="{{ url_for('static',filename='images/.png') }}"></i>
                    <input class="username" required="required" name="phonenum" type="text" placeholder="请输入您的手机号" />
                </li>
                <li>
                    <i class="un"><img src="{{ url_for('static',filename='images/.png') }}"></i>
                    <input class="username" required="required" name="major" type="text" placeholder="请输入您的专业" />
                </li>
                <li>
                    <i class="un"><img src="{{ url_for('static',filename='images/.png') }}"></i>
                    <input class="username" required="required" name="classnum" type="text" placeholder="请输入班级" />
                </li>
                <li><i class="pw"><img src="{{ url_for('static',filename='images/pwd.png') }}"></i><input required="required" class="pwd" name="password" type="password" placeholder="请输入密码" /></li>
                <li><i class="pw2"><img src="{{ url_for('static',filename='images/pwd.png') }}"></i><input required="required" class="pwd2" name="password2" type="password" placeholder="请输入确认密码" /></li>
                <div class="queren"><input class="fx" type="checkbox" checked="checked" /><p>我已阅读并同意<a href="{{url_for('static',filename='text/agreement.html')}}">《用户协议》</a></p></div>
            </ul>
                <div class="reg_btn">
                    <button class="submit" type="submit">注册</button>
                    <a href="login"><div class="reg-login"><p>已有帐号，立即登陆</p></div></a>
                </div>
            </form>
        </div>
    </body>

</html>
<script>
    function tologin()
    {
        window.location.href="/login"
    }
    a = document.getElementById('err_msg');
    console.log("{{messagetext}}")
    if("{{messagetext}}"!="")
    {

        a.innerText="{{messagetext}}";

    }
    if("{{messagetext}}"=="注册成功")
    {
        console.log("注册成功")
        a.innerText="注册成功,3秒后跳转至登录界面";
        setTimeout("tologin()","2500");

    }

</script>