<!DOCTYPE html>
<html>
    <head>
        <title>注册页面</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link href="css/success.css" type="text/css" rel="stylesheet">
        <link href="css/global.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="success">
            <img src="images/success.png" />
            <p>恭喜您注册成功！</p>
            <div class="s_msg">
                <div class="s_title">您的用户名：<span class="s_red">13137844382</span></div>
                <div class="s_title">移动端的产品正在搭建中，请您移步PC端
请用PC电脑打开如下网站：</div>
                <span class="s_redlink"><a href="http://www.tuilang.cc" target="_blank">http://www.tuilang.cc</a></span>
            </div>
        </div>
    </body>
</html>